bibtexparser==1.4.3
castle==6.1.0
causalml==0.15.5
causalnex==0.12.1
cdt==0.6.0
CEM_LinearInf==0.0.1
culingam==0.0.8
cupy==13.6.0
dask==2025.11.0
dill==0.3.7
dowhy==0.14
econml==0.16.0
fa2_modified==0.4
gpucsl==0.0.7
gpytorch==1.14.3
gradio==6.0.2
graphviz==0.21
joblib==1.2.0
matplotlib==3.5.1
momentchi2==0.1.8
nbconvert==7.16.6
networkx==3.1
numpy==1.21.2
openai==2.9.0
pandas==1.3.3
pgmpy==1.0.0
Pillow==9.2.0
Pillow==12.0.0
plumbum==1.10.0
psutil==5.9.0
pulp==3.3.0
pydantic==1.10.2
pydantic==1.8.2
pydot==4.0.1
pygam==0.11.0
pygraphviz==1.14
pylatex==1.4.2
pypandoc==1.16.2
python-dotenv==1.2.1
python_igraph==0.11.8
pywhy_graphs==0.1.0
Requests==2.32.5
scikit_learn==1.2.2
scipy==1.10.1
seaborn==0.11.2
setuptools==58.0.4
shap==0.50.0
sortedcontainers==2.4.0
Sphinx==9.0.4
statsmodels==0.13.5
sympy==1.13.3
tensorflow==2.20.0
tigramite==5.2.9.4
torch==2.4.1
tqdm==4.62.3
xgboost==3.1.2
